#main {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#main h1 {
  padding-top: 5vh;
}

.wb  {
  word-break: break-word;
}

#inputs {
  display: inline-grid;
}

table {
  margin: 10px;
}

#main {
  background-image: url("images/blockchain-interaction.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: black;
}

.ui.header.name {
  color: white;
}

.ui.header.white {
  color: white;
}

#contract-address, #contract-button {
  min-width: 50ch;
}
